body {
    font-family: Arial;
    background: url("bg.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

/* Container */
.container {
    width: 60%;
    margin: auto;
    padding: 20px;
}

/* Job Description Box */
textarea {
    width: 90%;
    height: 250px;
    margin: 15px 0;
    padding: 12px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}


/* ---------------- ANALYZE BUTTON ---------------- */

button {
    padding: 15px 40px;          /* Bigger size */
    font-size: 18px;
    background: #4b0082;         /* Dark violet */
    color: white;
    border: none;
    border-radius: 25px;         /* Curvy edges */
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Violet glow on hover */
button:hover {
    background: #7f00ff;
    box-shadow: 0 0 20px #b266ff;
    transform: scale(1.05);
}

/* ---------------- FILE INPUT ---------------- */

#resumeUpload {
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* Blue glow on hover */
#resumeUpload:hover {
    box-shadow: 0 0 20px #00bfff;
    background-color: #e6f7ff;
}

/* ---------------- RESULT BOX CONTAINER ---------------- */

.result-container {
    margin-top: 1cm;      /* moved up by 2 cm */
    display: flex;
    justify-content: center;
    gap: 4.5cm;
}

/* Individual Boxes */
.result-box {
    width: 270px;
    height: 270px;
    background: rgba(255, 255, 255, 0.15);  /* Transparent white */
    backdrop-filter: blur(12px);            /* Glass effect */
    -webkit-backdrop-filter: blur(12px);
    border-radius: 25px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    transition: transform 0.3s ease;
}


/* Slight hover lift effect */
.result-box:hover {
    transform: translateY(-5px);
}

/* Titles */
.result-box h3 {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}


/* Bullet Points */
.result-box ul {
    text-align: left;
    padding-left: 20px;
}
h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #c77dff;
}
/* ---------------- MATCH PERCENTAGE ---------------- */

#matchSection {
    margin-top: 25px;
}

#matchPercentage {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 15px #c77dff;
}

